@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body {
    height: 100vh;
    width: 100%;
    background-image: url('./homepage.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

header,
footer {
    position: absolute;
    width: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: black;
}

header {
    font-family: 'Girassol', cursive;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

a:hover {
    color: white;
}

#content {
    font-family: 'Girassol', cursive;
    color: white;
    font-weight: 900;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    text-shadow: -4px 4px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    height: 5vh;
    bottom: 0;
    text-align: center;
}

@media (min-width: 550px) {
    header {
        flex-direction: row;
        height: 8vh;
    }
}