@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
body {
    width: 100%;
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    position: relative;
    user-select: none;
}

header,
.header-options,
#content {
    display: flex;
    align-items: center;
}

header {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    line-height: 2;
    font-family: 'Girassol', cursive;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
}

.header-options {
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.header-option {
    cursor: pointer;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.header-option:hover {
    color: white;
}

#content {
    color: white;
    height: auto;
    margin-top: 4rem;
    font-weight: 900;
    justify-content: center;
}

h1 {
    font-family: 'Girassol', cursive;
    text-align: center;
    text-shadow: -4px 4px rgba(0, 0, 0, 0.5);
}

.menu {
    margin: 9rem 0 2rem;
    max-width: 20rem;
    height: auto;
    min-height: 100% !important;
}

img {
    height: 100% !important;
}

.contact-content {
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
}

.info {
    margin-bottom: 2rem;
}

textarea {
    resize: none;
}

.google-map {
    height: 25rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    line-height: 2;
    text-align: center;
}

i:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    body {
        background-size: cover;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .header-options {
        flex-direction: row;
        height: 5rem;
    }
    .menu {
        max-width: 40rem;
    }
    footer {
        font-size: 150%;
    }
}

@media (min-width: 992px) {
    .contact-content {
        flex-direction: row;
        margin-top: 14rem;
    }
    .info {
        margin-bottom: 0;
    }
    .google-map {
        height: auto;
    }
}